<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  </head>

  <body>
  	<% if notice %>
		<script type="text/javascript">
			noty({text: '<%= notice %>',type: 'success',
		    timeout: 2000});
		   
		</script>

	<% end %>


	<% if alert %>

		<script type="text/javascript">
			noty({text: '<%= alert %>', type: 'error' ,timeout: 2000});
		</script>
	<% end %>

  	<%= render '/layouts/nav' %>
  	<div class="container container-fluid">
  		<div class="row">
  			<div class="col-sm-2">
  				<% if user_signed_in? %>
  					<h5>Chat Rooms</h5>
  					<ul>
  						<%current_user.chatrooms.each do|chatroom|%>
  							<li><%=link_to chatroom.name,"#"%>
  						<% end %>
  					</ul>
  				<% end %>
  			</div>
  			<div class="col-sm-10">
  				<%= yield %>	
  			</div>
  		</div>	
  	</div>
  </body>
</html>
